@import "../../../scss/colors";

.feedMessage-showControlButton {
  width: 40px !important;
  height: 40px !important;
  max-width: 40px !important;
  min-width: 40px !important;
  max-height: 40px !important;
}

.feedMessage-textMargin {
  margin-left: 10px !important;
}

.feedMessage-close {
  background-color: $color-white !important;
}

.feedMessage-nicknameChip {
  background-color: $color-lightblue;
  border-radius: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 5px;
}

.feedMessage-messageBody {
  margin: 5px;
}
