<div layout="column" ng-cloak>
	<div layout="row" flex="none">
		<div class="feedMessage-messageControl" layout="column" ng-show="feedMessageC.showControls" layout-align="center center">
			<div layout="row">
				<md-button aria-label="Hide message controls" class="feedMessage-showControlButton feedMessage-close" ng-click="feedMessageC.showControls = false">
					<md-icon md-svg-icon="images/ic_close_grey_24px.svg"></md-icon>
				</md-button>
				<md-button aria-label="Delete/Pin message" class="feedMessage-showControlButton" ng-class="{'feedMessage-messageSelected': feedMessageC.message.isPinned && feedMessageC.isolatedScope.onBoard === 'true'}">
					<md-icon ng-show="feedMessageC.isolatedScope.onBoard === 'false'" md-svg-icon="images/ic_delete_forever_orange_24px.svg" ng-click="feedMessageC.deleteMessage()"></md-icon>
					<md-icon ng-show="feedMessageC.isolatedScope.onBoard === 'true' && !feedMessageC.message.isPinned" md-svg-icon="images/ic_location_on_orange_24px.svg" ng-click="feedMessageC.pinMessage()"></md-icon>
					<md-icon ng-show="feedMessageC.isolatedScope.onBoard === 'true' && feedMessageC.message.isPinned" md-svg-icon="images/ic_location_on_black_24px.svg" ng-click="feedMessageC.unpinMessage()"></md-icon>
				</md-button>
			</div>
			<div layout="row">
				<md-button aria-label="Highlight message" class="feedMessage-showControlButton" ng-class="{'feedMessage-messageSelected': feedMessageC.message.isSelected}">
					<md-icon ng-show="!feedMessageC.message.isSelected" md-svg-icon="images/ic_lightbulb_outline_orange_24px.svg" ng-click="feedMessageC.selectMessage()"></md-icon>
					<md-icon ng-show="feedMessageC.message.isSelected" md-svg-icon="images/ic_lightbulb_outline_darkgrey_24px.svg" ng-click="feedMessageC.unselectMessage()"></md-icon>
				</md-button>
				<md-button aria-label="Edit message" class="feedMessage-showControlButton">
					<md-icon md-svg-icon="images/ic_mode_edit_orange_24px.svg" ng-click="feedMessageC.editMessage()"></md-icon>
				</md-button>
			</div>
		</div>

		<div layout="column" ng-show="!feedMessageC.showControls" layout-align="center center">
			<md-button aria-label="Show message controls" ng-show="!feedMessageC.showControls" class="feedMessage-showControlButton" ng-click="feedMessageC.showControls = true">
				<md-icon md-svg-icon="images/ic_menu_grey_24px.svg"></md-icon>
			</md-button>
		</div>


		<div layout="column" layout-align="space-between none" flex-grow="true" class="feedMessage-messageBody feedMessage-wordWrap">
			<div layout="column" flex="none" class="feedMessage-wordWrap">
				{{ feedMessageC.message.text }}
			</div>
			<div layout="row" layout-align="end center">
				<span class="feedMessage-nicknameChip" ng-repeat="origin in feedMessageC.originReversed">{{ origin.nickname }}</span>
			</div>
		</div>

	</div>
	<md-divider></md-divider>
</div>