@import "../../../scss/colors";

.feedMessage-messageSelected {
  background-color: $color-orange;
  background-color: rgba(255, 119, 0, 0.5);
}

.feedMessage-showControlButton {
  width: 40px !important;
  height: 40px !important;
  max-width: 40px !important;
  min-width: 40px !important;
  max-height: 40px !important;
}

.feedMessage-textMargin {
  margin-left: 10px !important;
}

.feedMessage-close {
  background-color: $color-white !important;
}

.feedMessage-nicknameChip {
  background-color: $color-lightblue;
  border-radius: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 5px;
  font-size: .8em;
}

.feedMessage-messageBody {
  margin: 5px;
}

.feedMessage-messageControl {
  background-color: $color-grey;
}

.feedMessage-wordWrap {
  width: 100%;
  overflow: hidden;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
}