<div layout flex ng-controller="OrganiserController as orgC">
    <div flex layout id="landing-main">

        <div ng-style="{'width': windowWidth+'px', 'background-color': '#00BCD4'}" style="position: relative;" autoresize="">

            <div class="organiser-clouds">
                <img src="../images/cloud.svg">
            </div>

            <div class="landing-betalabel">
                <img src="../images/beta_icon.png">
            </div>

            <div>
                <img class="landing-samtavlaLogo" src="../images/logo.svg" ng-show="landingC.languageCode=='no'">
                <img class="landing-samtavlaLogo" src="../images/logo_en.svg" ng-show="landingC.languageCode=='en'">
            </div>


            <div class="landing-centered-button-panel" layout="column" layout-align="start center">
                <div flex-gt-sm="50" flex="" class="organiser">

                    <md-toolbar layout="row" style="background-color: #65B4CE !important;">
                        <div class="md-toolbar-tools">
                            <span class="organiser-title">{{ 'ORG_TITLE' | translate }}</span>
                        </div>
                    </md-toolbar>

                    <div>
                        <md-list flex="">

                            <md-list-item class="md-2-line organiser-nickname" style="background-color: #D8EdF3;">
                                <md-input-container class="md-icon-float md-block">
                                    <label>{{'ORG_NICKNAME' | translate}}</label>
                                    <input ng-model="orgC.user.nickname" type="text">
                                </md-input-container>
                            </md-list-item>

                        </md-list>

                        <md-content class="organiser-content">
                            <md-list flex="">

                                <md-subheader class="md-no-sticky">{{'ORG_RECENT_TALKWALLS' | translate}}</md-subheader>
                                <md-list-item class="md-2-line" ng-repeat-start="recentWall in orgC.user.recentWalls" ng-click="null">
                                    <div organiser-item data="recentWall" open-this-wall="orgC.openWall(recentWall)"></div>
                                </md-list-item>
                                <md-divider ng-repeat-end></md-divider>

                                <md-subheader class="md-no-sticky">{{'ORG_ALL_TALKWALLS' | translate}}</md-subheader>
                                <md-list-item class="md-2-line" ng-repeat-start="wall in orgC.walls" ng-click="null">
                                    <div organiser-item data="wall" open-this-wall="orgC.openWall(wall)" ng-if="!wall.deleted"></div>
                                </md-list-item>
                                <md-divider ng-repeat-end></md-divider>

                            </md-list>
                        </md-content>

                        <md-list flex="">

                            <md-list-item class="md-3-line" style="background-color: #D8EdF3;">
                                <md-input-container class="md-icon-float md-block" style="margin: 15px;">
                                    <label>{{'ORG_GROUP' | translate}}</label>
                                    <input ng-model="orgC.newWall.label" type="text">
                                </md-input-container>
                                <md-input-container class="md-icon-float md-block"  style="margin: 15px;">
                                    <label>{{'ORG_THEME' | translate}}</label>
                                    <input ng-model="orgC.newWall.theme" type="text">
                                </md-input-container>
                                <md-button aria-label="Create a new wall" class="md-fab organiser-addWallButton" ng-click="orgC.createWall()">
                                    <md-icon md-svg-src="images/ic_add_black_24px.svg"></md-icon>
                                </md-button>
                            </md-list-item>

                        </md-list>
                    </div>
                </div>

            </div>


        </div>




    </div>
</div>