@import "../../../scss/colors";

.organiser {
  margin-top: 100px;
  z-index: 20;
  md-list {
    padding: 0;
  }
  md-button {
    min-width: 10px;
  }
}

.organiser-logo {
  margin-top: 30px;
 }

.organiser-clouds {
  position: fixed;
  bottom: -10px;
  width: 100%;
}

.organiser-addWallButton {
  z-index: 900 !important;
}

.organiser-saveNicknameButton {
  background-color: $color-grey !important;
  min-width: 10px;
  height: 40px;
}

.organiser-submitButton {
  background-color: $color-grey !important;
}

.organiser-title {
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.organiser-content {
  max-height: 40vh;
  background-color: white;
}

.organiser-nickname {
  padding: 0 5px;
  md-input-container .md-errors-spacer {
    min-height: 0;
  }
}

.organiser-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}

@media only screen and (max-height : 800px) {
  .organiser-logo {
    display: none;
  }
}