@import "../../../scss/colors";


.organiser {
  margin-top: 100px;
  md-list {
    padding: 0;
  }
  md-button {
    min-width: 10px;
  }
}

.organiser-clouds {
  position: fixed;
  bottom: -10px;
  width: 100%;
}

.organiser-addWallButton {
  z-index: 900 !important;
  background-color: $color-orange !important;
}

.organiser-title {
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.organiser-content {
  max-height: 300px;
  background-color: white;
}

.organiser-nickname {
  md-input-container .md-errors-spacer {
    min-height: 0;
  }
}