@import "../../../scss/colors";

.wall-sidemenuLarge {
  max-width: 100% !important;
  width: 75% !important;
}

.wall-topToolbar {
  min-height: 64px;
  background-color: $color-lightblue !important;
}

.wall-question {
  color: $color-darkgrey;
}

.wall-question-index {
  background-color: $color-black;
  color: $color-white;
  font-size: .7em;
  margin-right: 5px;
  min-width: 12px;
  height: 20px;
}

.wall-sidenav {
  background-color: rgba(216, 237, 243, 0.5);
  margin-top: 64px;
}

.wall-rightMenuSection {
  width: 100%;
  background-color: $color-lightblue;
}

.wall-rightMenuFlexOpen {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.wall-rightMenuAddTaskPanel {
  width: 100%;
  height: 250px;
  min-height: 250px;
  margin-top: 20px;
}

.wall-rightMenuAddTaskPanel md-input-container {
  background-color: $color-white;
}

.wall-powerOffButton,
.wall-addTaskReadyButton {
  background-color: $color-orange !important;
  color: $color-white  !important;
}

.wall-sidenavRightBottomDiv {
  height: 70px;
}

.wall-showEditMessageButton {
  position: absolute;
  bottom: 2px;
  left: 110px;
  z-index: 900 !important;
  background-color: $color-orange !important;
}

.wall-mainArea {
  background-color: $color-grey;
}

.wall-joinRow {
  width: 100%;
}

.wall-joinRow1 {
  font-size: 1.7em;
}

.wall-joinRow2 {
  font-size: 3em;
}

.wall-joinRow3 {
  font-size: 1.7em;
}


@media all and (max-width: 960px) {
  .wall-question {
    margin-left: 14px;
  }

  .wall-sidenav {
    min-width: 100% !important;
    max-width: 100% !important;
    width: 100% !important;
    margin-top: 0px !important;
  }

  .wall-showEditMessageButtonPhone {
    background-color: $color-orange !important;
  }
}