@import "../../../scss/colors";

.wall-sidemenuLarge {
  max-width: 100% !important;
  width: 75% !important;
}

.wall-sidemenuLarge md-content {
  font-size: 3em !important;
}

.wall-topToolbar {
  min-height: 64px;
  max-height: 64px;
  height: 64px;
  background-color: $color-lightblue !important;
}

.wall-question {
  color: $color-darkgrey;
}

.wall-question div,
.wall-question {
  max-height: 50px !important;
  overflow:hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.wall-question-index {
  background-color: $color-black;
  color: $color-white;
  font-size: .7em;
  margin-right: 5px;
  min-width: 12px;
  height: 20px;
}

.wall-sidenav {
  background-color: rgba(216, 237, 243, 0.5);
  margin-top: 64px;
}

.wall-rightMenuSection {
  width: 100%;
  background-color: $color-lightblue;
}

.wall-rightMenuFlexOpen {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.wall-rightMenuAddTaskPanel {
  width: 100%;
  height: 270px;
  min-height: 250px;
  padding: 20px 8px 8px 8px !important;
}

.wall-rightMenuAddTaskPanel md-input-container {
  background-color: $color-white !important;
  margin: 0px 8px 20px 8px !important;
  max-height: 80px !important;
}

.wall-rightMenuAddTaskPanel md-input-container textarea {
  max-height: 80px !important;
}

.wall-rightMenuAddTaskPanel span {
  margin-left: 8px !important;
}

.wall-powerOffButton,
.wall-addTaskReadyButton {
  background-color: $color-orange !important;
  color: $color-white !important;
}

.wall-sidenavRightBottomDiv {
  height: 70px !important;
  min-height: 70px !important;
  max-height: 70px !important;
}

.wall-showEditMessageButton {
  position: absolute;
  bottom: 2px;
  left: 110px;
  z-index: 900 !important;
  background-color: $color-orange !important;
}

.wall-gridButtonSelected {
  background-color: $color-orange;
}

.wall-mainArea {
  background-color: $color-grey;
}

.wall-joinRow {
  width: 100%;
}

.wall-joinRow1 {
  font-size: 1.7em;
}

.wall-joinRow2 {
  font-size: 3em;
}

.wall-joinRow3 {
  font-size: 1.7em;
}

.wall-toolbarText {
  margin-left: 14px;
}


/* -------------   ANIMATIONS ----------------- */

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

/* now the element will fade out before it is removed from the DOM */
.fade.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.fade.ng-leave.ng-leave-active {
  opacity:0;
}

@media all and (max-width: 960px) {
  .wall-question {
    margin-left: 14px;
  }

  .wall-sidenav {
    min-width: 100% !important;
    max-width: 100% !important;
    width: 100% !important;
    margin-top: 0px !important;
  }

  .wall-showEditMessageButtonPhone {
    background-color: $color-orange !important;
  }
}