.wall-sidemenuLarge {
  max-width: 100% !important;
  width: 75% !important;
}

.wall-topToolbar {
  min-height: 64px;
  background-color: #D8EDF3 !important;
  z-index: 90;
}

.wall-question {
  color: #333333;
}

.wall-sidenav {
  background-color: transparent;
}