<div layout="column" flex ng-controller="WallController as wallC">
	<!-- top toolbar component of the wall -->
	<md-toolbar class="wall-topToolbar">
		<div flex layout="row" layout-align="start center">
			<div hide-xs hide-sm flex="33" layout="row" layout-align="start center">
				<md-button ng-show="wallC.dataService.getQuestion() !== null" class="md-icon-button" role="button" ng-click="wallC.feedView=true;wallC.$mdSidenav('left').open()">
					<md-icon md-svg-src="images/ic_chat_bubble_outline_orange_24px.svg" aria-hidden="true"></md-icon>
				</md-button>
				<md-button ng-show="wallC.dataService.getQuestion() !== null" class="md-icon-button" role="button" ng-click="wallC.feedView=false;wallC.$mdSidenav('left').open()">
					<md-icon md-svg-src="images/ic_cast_orange_24px.svg" aria-hidden="true"></md-icon>
				</md-button>
			</div>
			<div hide-xs hide-sm flex="grow" class="wall-question" layout="row" layout-align="center center">
				<div layout layout-align="start center" ng-if="wallC.currentQuestionIndex > 0" ng-click="wallC.setQuestion(wallC.currentQuestionIndex-1)">
					<md-button class="md-icon-button" role="button">
						<md-icon md-svg-src="images/ic_arrow_back_orange_24px.svg" aria-hidden="true"></md-icon>
					</md-button>
				</div>
				<div flex="grow" layout layout-align="center center" flex="grow">
					<div layout="row" ng-if="wallC.dataService.getQuestion() !== null" layout-align="center center">
						<div class="wall-question-index" layout layout-align="center center">{{ wallC.currentQuestionIndex + 1}}</div>
						<div>{{wallC.dataService.getQuestion().label}}</div>
					</div>
					<div layout="row" ng-if="wallC.dataService.getQuestion() === null" layout-align="center center">
						No question available
					</div>
				</div>
				<div layout layout-align="end center" ng-if="wallC.currentQuestionIndex < (wallC.dataService.getWall().questions.length - 1)" ng-click="wallC.setQuestion(wallC.currentQuestionIndex+1)">
					<md-button class="md-icon-button" role="button">
						<md-icon md-svg-src="images/ic_arrow_forward_orange_24px.svg" aria-hidden="true"></md-icon>
					</md-button>
				</div>
			</div>
			<div hide-gt-sm flex="grow" class="wall-question" layout="row" layout-align="center center">
				<div flex="grow" layout layout-align="start center" flex="grow">
					<div layout="row" ng-if="wallC.dataService.getQuestion() !== null" layout-align="center center">
						<div class="wall-question-index" layout layout-align="center center">{{ wallC.currentQuestionIndex + 1}}</div>
						<div>{{wallC.dataService.getQuestion().label}}</div>
					</div>
					<div layout="row" ng-if="wallC.dataService.getQuestion() === null" layout-align="center center">
						No question available
					</div>
				</div>
				<div layout layout-align="start center" ng-if="wallC.currentQuestionIndex > 0" ng-click="wallC.setQuestion(wallC.currentQuestionIndex-1)">
					<md-button class="md-icon-button" role="button">
						<md-icon md-svg-src="images/ic_arrow_back_orange_24px.svg" aria-hidden="true"></md-icon>
					</md-button>
				</div>
				<div layout layout-align="end center" ng-if="wallC.currentQuestionIndex < (wallC.dataService.getWall().questions.length - 1)" ng-click="wallC.setQuestion(wallC.currentQuestionIndex+1)">
					<md-button class="md-icon-button" role="button">
						<md-icon md-svg-src="images/ic_arrow_forward_orange_24px.svg" aria-hidden="true"></md-icon>
					</md-button>
				</div>
			</div>
			<div hide-xs hide-sm flex="33" layout="row" layout-align="end center">
				<button class="md-button md-icon-button" role="button" ng-click="wallC.$mdSidenav('right').toggle();wallC.toggleRightMenu(0)">
					<md-icon ng-show="!wallC.$mdSidenav('right').isOpen()" md-svg-src="images/ic_menu_orange_24px.svg" aria-hidden="true"></md-icon>
					<md-icon ng-show="wallC.$mdSidenav('right').isOpen()" md-svg-src="images/ic_close_orange_24px.svg" aria-hidden="true"></md-icon>
				</button>
			</div>
		</div>
	</md-toolbar>
	<section flex layout="row" id="wallSection">

		<!-- left sidenav of the wall -->
		<md-sidenav md-component-id="left" class="md-sidenav-left wall-sidenav" layout="column" ng-class="{'wall-sidemenuLarge' :  wallC.magnified}" md-is-locked-open="$mdMedia('max-width: 960px')">
			<md-toolbar>
				<div flex layout="row" layout-align="start center">
					<div ng-if="wallC.feedView" flex layout-align="center center">Messages</div>
					<div ng-if="!wallC.feedView && !wallC.dataService.phoneMode" flex layout-align="center center">Screens</div>
					<md-button ng-if="!wallC.magnified && wallC.feedView && !wallC.dataService.phoneMode" class="md-icon-button" role="button" ng-click="wallC.magnified = true">
						<md-icon md-svg-src="images/ic_zoom_in_white_24px.svg" aria-hidden="true"></md-icon>
					</md-button>
					<md-button ng-if="wallC.magnified && wallC.feedView && !wallC.dataService.phoneMode" class="md-icon-button" role="button" ng-click="wallC.magnified = false">
						<md-icon md-svg-src="images/ic_zoom_out_white_24px.svg" aria-hidden="true"></md-icon>
					</md-button>
					<md-button ng-if="!wallC.dataService.phoneMode" class="md-icon-button" role="button" ng-click="wallC.$mdSidenav('left').close(); wallC.magnified = false">
						<md-icon md-svg-src="images/ic_close_white_24px.svg" aria-hidden="true"></md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-content flex="grow" style="overflow-x: hidden !important;">
				<!-- left sidenav message feed -->
				<md-list ng-if="wallC.feedView">
					<div ng-class="{'feedMessage-messageSelected': message.isSelected}" feed-message on-board="false" ng-repeat="message in wallC.dataService.getQuestion().messages" data="message" show-edit-panel="wallC.showMessageEditor(false)" ng-if="!message.deleted"></div>
				</md-list>

				<!-- left sidenav people's screen feed -->
				<md-list ng-if="!wallC.feedView">
					<md-list-item ng-repeat="participant in wallC.dataService.participants">
						<md-icon md-svg-icon="images/ic_person_black_24px.svg"></md-icon>
						<p>{{ participant }}</p>
						<md-divider></md-divider>
					</md-list-item>
				</md-list>
			</md-content>
			<div class="wall-sidenavRightBottomDiv" layout="row" layout-align="center center">
				<!-- this is to allow the fab button 'show editMessage' to float over the bottom of the sidenav -->
				<md-button ng-if="wallC.dataService.phoneMode && wallC.dataService.getQuestion() !== null" class="md-fab wall-showEditMessageButtonPhone" ng-click="wallC.showMessageEditor(true)">
					<md-icon md-svg-src="images/ic_add_black_24px.svg"></md-icon>
				</md-button>
			</div>
		</md-sidenav>

		<!-- right sidenav of the wall -->
		<md-sidenav ng-if="!wallC.dataService.phoneMode" md-component-id="right" class="md-sidenav-right wall-sidenav" layout="column">
			<div flex layout="column">

				<!-- Join with PIN section -->
				<section class="wall-rightMenuSection" ng-class="{'wall-rightMenuFlexOpen' :  wallC.rightMenu1}">
					<md-toolbar ng-click="wallC.toggleRightMenu(1)">
						<div flex layout="row" layout-align="start center">
							<div flex layout-align="center center">Join with PIN</div>
							<md-icon ng-if="!wallC.rightMenu1" md-svg-src="images/ic_arrow_drop_right_white_24px.svg" aria-hidden="true"></md-icon>
							<md-icon ng-if="wallC.rightMenu1" md-svg-src="images/ic_arrow_drop_down_white_24px.svg" aria-hidden="true"></md-icon>
						</div>
					</md-toolbar>
					<md-content flex ng-if="wallC.rightMenu1">
						<div layout="column" layout-align="start center" layout-padding>
							<h3>Participate on this talkwall</h3>
							<div class="wall-joinRow wall-joinRow1" layout="row">
								<md-icon md-svg-src="images/ic_arrow_forward_grey_24px.svg" aria-hidden="true"></md-icon>
								<span flex>talkwall.net</span>
							</div>
							<div class="wall-joinRow wall-joinRow2" layout="row">
								<md-icon md-svg-src="images/ic_arrow_forward_grey_24px.svg" aria-hidden="true"></md-icon>
								<span flex>PIN: {{wallC.dataService.getWall().pin}}</span>
							</div>
							<div class="wall-joinRow wall-joinRow3" layout="row">
								<md-icon md-svg-src="images/ic_people_black_24px.svg" aria-hidden="true"></md-icon>
								<span flex>{{wallC.dataService.participants.length}} participants</span>
							</div>
						</div>
					</md-content>
				</section>

				<!-- Edit tasks section -->
				<section class="wall-rightMenuSection" ng-class="{'wall-rightMenuFlexOpen' :  wallC.rightMenu2}">
					<md-toolbar ng-click="wallC.toggleRightMenu(2)">
						<div flex layout="row" layout-align="start center">
							<div flex layout-align="center center">Edit tasks</div>
							<md-icon ng-if="!wallC.rightMenu2" md-svg-src="images/ic_arrow_drop_right_white_24px.svg" aria-hidden="true"></md-icon>
							<md-icon ng-if="wallC.rightMenu2" md-svg-src="images/ic_arrow_drop_down_white_24px.svg" aria-hidden="true"></md-icon>
						</div>
					</md-toolbar>
					<md-content flex ng-if="wallC.rightMenu2">
						<md-list>
							<md-list-item ng-repeat="question in wallC.dataService.getWall().questions">
								<md-icon md-svg-icon="images/ic_menu_black_24px.svg"></md-icon>
								<p>{{question.label}}</p>
								<md-divider></md-divider>
							</md-list-item>
							<md-divider></md-divider>
						</md-list>
					</md-content>
					<div ng-if="wallC.rightMenu2" layout="column" class="wall-rightMenuAddTaskPanel">
						<md-input-container class="md-block">
							<label>Add task</label>
							<textarea ng-model="wallC.newQuestionLabel" rows="5" md-select-on-focus></textarea>
						</md-input-container>
						<div layout="column">
							<span>Background</span>
							<div layout="row">
								<md-button flex><img src="images/back011.png" aria-hidden="true" width="100%" /></md-button>
								<md-button flex><img src="images/back022.png" aria-hidden="true" width="100%" /></md-button>
								<md-button flex><img src="images/back033.png" aria-hidden="true" width="100%" /></md-button>
								<md-button flex><img src="images/back044.png" aria-hidden="true" width="100%" /></md-button>
							</div>
							<md-button class="md-raised wall-addTaskReadyButton" ng-disabled="wallC.newQuestionLabel === ''" ng-click="wallC.postNewQuestion()">Add</md-button>
						</div>
					</div>
				</section>

				<!-- Close talkwall section -->
				<section ng-class="{'wall-rightMenuFlexOpen' :  wallC.rightMenu3}">
					<md-toolbar ng-click="wallC.toggleRightMenu(3)">
						<div flex layout="row" layout-align="start center">
							<div flex layout-align="center center">Close Talkwall</div>
							<md-icon ng-if="!wallC.rightMenu3" md-svg-src="images/ic_arrow_drop_right_white_24px.svg" aria-hidden="true"></md-icon>
							<md-icon ng-if="wallC.rightMenu3" md-svg-src="images/ic_arrow_drop_down_white_24px.svg" aria-hidden="true"></md-icon>
						</div>
					</md-toolbar>
					<md-content ng-if="wallC.rightMenu3">
						<div layout="column" layout-padding>
							<md-button class="md-raised wall-powerOffButton">
								<md-icon md-svg-src="images/ic_power_settings_new_black_24px.svg" aria-hidden="true"></md-icon>
							</md-button>
						</div>
					</md-content>
				</section>
			</div>
		</md-sidenav>

		<!-- main content of the wall -->
		<div flex class="wall-mainArea">

			<div watch-board-size style="position: absolute; top: 64px; left: 0; bottom: 0; right: 0; background-color: #333333">
				<div feed-message
					 ng-repeat="message in wallC.dataService.getQuestion().messages"
					 data="message" on-board="true"
					 show-edit-panel="wallC.showMessageEditor(false)"
					 ng-class="{'feedMessage-messageOnBoardSelected': message.isPinned, 'feedMessage-messageOnBoard': !message.isPinned}"
					 ng-if="!message.deleted && message.isSelected && !wallC.dataService.phoneMode"></div>
				<!-- ng-style="wallC.getLocationPosition($event, message.board[wallC.dataService.getNickname()])" -->
			</div>

			<!-- (+) fab button to show the editMessage bottomPane -->
			<md-button ng-if="wallC.dataService.getQuestion() !== null && !wallC.dataService.phoneMode" class="md-fab wall-showEditMessageButton" ng-click="wallC.showMessageEditor(true)">
				<md-icon md-svg-src="images/ic_add_black_24px.svg"></md-icon>
			</md-button>
		</div>
	</section>
</div>