<div layout flex ng-controller="LandingController as landingC">
	<div flex layout id="landing-main">
		<md-content flex md-scroll-y>
			<div ng-style="{'height': windowHeight+'px', 'width': windowWidth+'px', 'background-color': '#00BCD4'}" autoresize="" layout>
				<div class="landing-betalabel" ng-click="showBetaMessage()"><img src="../images/beta_icon.png"></div>
				<div flex class="landing-cloud-background" layout="column">
					<div flex></div>
					<img src="../images/cloud.svg">
					<div class="landing-arrow-footer" layout="column">
						<div layout="column" flex layout-align="start center">
							<div class="landing-arrow">
								<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/></svg>
							</div>
						</div>
					</div>
				</div>

				<div flex layout>
					<div class="landing-centered-button-panel" layout="column" flex layout-align="center center">
						<img class="landing-samtavlaLogo" src="../images/logo.svg" ng-show="landingC.urlService.getLanguageDomain()=='no'">
						<img class="landing-samtavlaLogo" src="../images/logo_en.svg" ng-show="landingC.urlService.getLanguageDomain()=='en'">
						<div class="landing-samtavlaLogo" layout="row" layout-align="center center" layout-margin>
							<md-button aria-label="Participate to Talkwall" id="joinButton" flex-grow="true" class="md-primary md-raised landing-joinButton" ng-click="landingC.showJoinDialog($event)" aria-label="Delta i Samtavla">{{ 'MENUPAGE_BUTTON_PARTICIPATE' | translate }}</md-button>
							<md-button aria-label="Create a wall" id="createButton" hide-xs hide-sm flex-grow="true" class="md-primary md-raised landing-createButton" ng-click="landingC.showLoginDialog($event)" aria-label="Opprett en ny samtavla">{{ 'MENUPAGE_BUTTON_CREATE' | translate }}</md-button>
						</div>
					</div>
				</div>
			</div>
			<div class="landing-indexSection1" layout="column" layout-align="start center">
				<div class="landing-indexSection1Title">{{ 'MENUPAGE_HEADING_1' | translate }}</div>
				<div class="landing-indexSection1Desc">{{ 'MENUPAGE_HEADING_2' | translate }}</div>
				<div style="background-color: #FFFFFF; height: 80px"> </div>
				<div layout-gt-md="row" layout="column" style="margin-top: 20px">
					<div flex > </div>

					<div layout="column" width="200">
						<a href="#/#index02"><img src="images/index-02.png.svg" width="200"></a>
						<div layout="column">
							<div class="landing-indexCardTitle">{{ 'MENUPAGE_THUMB1_TITLE' | translate }}</div>
							<div class="landing-indexCardDesc">{{ 'MENUPAGE_THUMB1_BDY' | translate }}</div>
						</div>
					</div>

					<div layout="column" width="200">
						<a href="#/#index03"><img src="images/index-03.png.svg" width="200"></a>
						<div layout="column">
							<div class="landing-indexCardTitle">{{ 'MENUPAGE_THUMB2_TITLE' | translate }}</div>
							<div class="landing-indexCardDesc">{{ 'MENUPAGE_THUMB2_BDY' | translate }}</div>
						</div>
					</div>

					<div layout="column" width="200">
						<a href="#/#index01"><img src="images/index-01.png.svg" width="200"></a>
						<div layout="column">
							<div class="landing-indexCardTitle">{{ 'MENUPAGE_THUMB3_TITLE' | translate }}</div>
							<div class="landing-indexCardDesc">{{ 'MENUPAGE_THUMB3_BDY' | translate }}</div>
						</div>
					</div>

					<div flex > </div>
				</div>
			</div>
			<div layout="row">
				<div style="width: 10%; background-color: #FFFFFF; color: #FFFFFF"> </div>
				<div flex class="hr"></div>
				<div style="width: 10%; background-color: #FFFFFF; color: #FFFFFF"> </div>
			</div>
			<!--<div class="indexSection" style="padding-top: 50px; padding-bottom: 50px" layout layout-align="center center">-->
			<div class="landing-indexSection2" layout="column" layout-align="start center">
				<div class="landing-indexSection1Desc">{{ 'MENUPAGE_HEADING_3' | translate }}</div>
				<div class="landing-indexSection1Desc">{{ 'MENUPAGE_HEADING_4' | translate }}</div>
			</div>
			<div layout="row">
				<div style="width: 10%; background-color: #FFFFFF; color: #FFFFFF"> </div>
				<div flex class="hr"></div>
				<div style="width: 10%; background-color: #FFFFFF; color: #FFFFFF"> </div>
			</div>
			<div class="landing-indexSection3" layout="column">

				<div layout="column" layout-gt-md="row" id="index02" style="margin-bottom: 40px;" layout-align="start center">
					<div flex class="landing-indexSection3Thumbs"><img src="images/index-02.png.svg" height="180"></div>
					<div style="width: 40px; height: 20px" > </div>
					<div flex layout="column">
						<div class="landing-indexSection3Title">{{ 'MENUPAGE_THUMB4_TITLE' | translate }}</div>
						<div class="landing-indexSection3Desc">{{ 'MENUPAGE_THUMB4_BDY_1' | translate }}<br><br>{{ 'MENUPAGE_THUMB4_BDY_2' | translate }}<br><br>{{ 'MENUPAGE_THUMB4_BDY_3' | translate }}</div>
					</div>
				</div>
				<div layout="column" layout-gt-md="row" id="index03" style="margin-bottom: 40px;" layout-align="start center">
					<div flex class="landing-indexSection3Thumbs"><img src="images/index-03.png.svg" height="180"></div>
					<div style="width: 40px; height: 20px" > </div>
					<div flex layout="column">
						<div class="landing-indexSection3Title">{{ 'MENUPAGE_THUMB5_TITLE' | translate }}</div>
						<div class="landing-indexSection3Desc">{{ 'MENUPAGE_THUMB5_BDY_1' | translate }}<br><br>{{ 'MENUPAGE_THUMB5_BDY_2' | translate }}<br><br>{{ 'MENUPAGE_THUMB5_BDY_3' | translate }}</div>
					</div>
				</div>

				<div layout="column" layout-gt-md="row" id="index01" style="margin-bottom: 40px;" layout-align="start center">
					<div flex class="landing-indexSection3Thumbs"><img src="images/index-01.png.svg" height="180" ></div>
					<div style="width: 40px; height: 20px" > </div>
					<div flex layout="column">
						<div class="landing-indexSection3Title">{{ 'MENUPAGE_THUMB6_TITLE' | translate }}</div>
						<div class="landing-indexSection3Desc">{{ 'MENUPAGE_THUMB6_BDY_1' | translate }}<br><br>{{ 'MENUPAGE_THUMB6_BDY_2' | translate }}</div>
					</div>
				</div>

			</div>
			<div style="background-color: #000000; padding: 20px" layout="column" layout-gt-md="row">

				<div flex class="landing-indexSection4Thumbs" layout-align="center" layout="column"><div class="landing-indexSection4Logo"><img src="images/logouio.png" style="width: 100%; max-width: 358px"></div></div>
				<div style="width: 40px;" > </div>
				<div flex style="margin-top: 20px;">
					<div layout="column" layout-gt-md="row">
						<div layout="column" layout-align="center center">
							<div layout="row">
								<div layout layout-align="start">
									<img src="images/ingvill.png" width="65px" height="81px" />
								</div>
								<div style="width: 20px;" > </div>
								<div layout="column">
									<div class="landing-indexSection4Title">Ingvill Rasmussen</div>
									<div class="landing-indexSection4Desc">{{ 'MENUPAGE_PROFILE_DESCRIPTION_1' | translate }}<br>{{ 'MENUPAGE_PROFILE_AFFILIATION_1' | translate }}
										<a href="mailto:ingvill.rasmussen@iped.uio.no">ingvill.rasmussen@iped.uio.no</a></div>
								</div>
							</div>
							<div style="height: 20px"> </div>
							<div layout="row">
								<div layout layout-align="start">
									<img src="images/ole.png" width="65px" height="95px" />
								</div>
								<div style="width: 20px;" > </div>
								<div layout="column">
									<div class="landing-indexSection4Title">Ole Smørdal</div>
									<div class="landing-indexSection4Desc">{{ 'MENUPAGE_PROFILE_DESCRIPTION_2' | translate }}<br>{{ 'MENUPAGE_PROFILE_AFFILIATION_2' | translate }}
										<a href="mailto:ole.smordal@uv.uio.no">ole.smordal@uv.uio.no</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</md-content>
	</div>
</div>