<div layout flex ng-controller="LandingController as landingC">
	<div flex layout id="landing-main">
		<md-content flex md-scroll-y>
			<div ng-style="{'height': windowHeight+'px', 'width': windowWidth+'px', 'background-color': '#00BCD4'}" autoresize="" layout>
				<div class="landing-betalabel" ng-click="showBetaMessage()"><img src="../images/beta_icon.png"></div>
				<div flex class="landing-cloud-background" layout="column">
					<div flex></div>
					<img src="../images/cloud.svg">
					<div class="landing-arrow-footer" layout="column">
						<div layout="column" flex layout-align="start center">
							<div class="landing-arrow">
								<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/></svg>
							</div>
						</div>
					</div>
				</div>

				<div flex layout>
					<div class="landing-centered-button-panel" layout="column" flex layout-align="center center">
						<img class="landing-samtavlaLogo" src="../images/logo.svg" ng-show="landingC.languageCode=='no'">
						<img class="landing-samtavlaLogo" src="../images/logo_en.svg" ng-show="landingC.languageCode=='en'">
						<div class="landing-samtavlaLogo" layout="row" layout-align="center center" layout-margin>
							<md-button aria-label="Participate to Talkwall" id="joinButton" flex-grow="true" class="md-primary md-raised landing-joinButton" ng-click="landingC.showJoinDialog($event)" aria-label="Delta i Samtavla">{{ 'MENUPAGE_BUTTON_PARTICIPATE' | translate }}</md-button>
							<md-button aria-label="Create a wall" id="createButton" hide-xs hide-sm flex-grow="true" class="md-primary md-raised landing-createButton" ng-click="landingC.showLoginDialog($event)" aria-label="Opprett en ny samtavla">{{ 'MENUPAGE_BUTTON_CREATE' | translate }}</md-button>
						</div>
					</div>
				</div>
			</div>
			<div class="landing-indexSection1" layout="column" layout-align="start center">
			<!-- two key sentences about talkwall-->
				<div class="landing-indexSection1Title">{{ 'MENUPAGE_HEADING_1' | translate }}</div>
				<div class="landing-indexSection1Desc">{{ 'MENUPAGE_HEADING_2' | translate }}</div>
				<div style="background-color: #FFFFFF; height: 80px"> </div>
				<div layout-gt-md="row" layout="column" style="margin-top: 20px">
					<div flex > </div>
					<!-- three links to the digitaliseddialoges site-->
					<div layout="column" width="200">
						<a href="#/#index02"><img src="images/index-02.png.svg" width="200"></a>
						<div layout="column">
							<div class="landing-indexCardTitle">{{ 'MENUPAGE_THUMB1_TITLE' | translate }}</div>
							<div class="landing-indexCardDesc">{{ 'MENUPAGE_THUMB1_BDY' | translate }}</div>
						</div>
					</div>

					<div layout="column" width="200">
						<a href="#/#index03"><img src="images/index-03.png.svg" width="200"></a>
						<div layout="column">
							<div class="landing-indexCardTitle">{{ 'MENUPAGE_THUMB2_TITLE' | translate }}</div>
							<div class="landing-indexCardDesc">{{ 'MENUPAGE_THUMB2_BDY' | translate }}</div>
						</div>
					</div>

					<div layout="column" width="200">
						<a href="#/#index01"><img src="images/index-01.png.svg" width="200"></a>
						<div layout="column">
							<div class="landing-indexCardTitle">{{ 'MENUPAGE_THUMB3_TITLE' | translate }}</div>
							<div class="landing-indexCardDesc">{{ 'MENUPAGE_THUMB3_BDY' | translate }}</div>
						</div>
					</div>

					<div flex > </div>
				</div>
			</div>
			<div layout="row">
				<div style="width: 10%; background-color: #FFFFFF; color: #FFFFFF"> </div>
				<div flex class="hr"></div>
				<div style="width: 10%; background-color: #FFFFFF; color: #FFFFFF"> </div>
			</div>
			<!-- statements from users-->
			<div class="landing-indexSection2" layout="column" layout-align="start center">
				<div class="landing-indexSection1Desc">{{ 'MENUPAGE_STATEMENT1' | translate }}</div>
				<div class="landing-indexSection1Desc">{{ 'MENUPAGE_STATEMENT2' | translate }}</div>
			</div>
		
			<div class="landing-indexSection3" layout="column">

				

			</div>

			<div style="background-color: #000000; padding: 20px" class="landing-indexSection2" layout="column" layout-align="start center">
				
				<div style="background-color: #FFFFFF; height: 80px"> </div>
				<div layout-gt-md="row" layout="column" style="margin-top: 20px" >
					<div flex > </div>
					
					<div style="padding: 20px" class="landing-indexSection4Logo" layout="column"; width="200">
						<a href="http://www.uv.uio.no/"><img src="images/logouio.png" width="200"></a>
					</div>

					<div style="padding: 20px" class="landing-indexSection4Logo" layout="column" width="200">
						<a href="http://www.uv.uio.no/didiac"><img src="images/didiac-logo.png" width="200"></a>
						<div layout="column">
							<div class="landing-indexSection4Title">{{ 'MENUPAGE_FOOTERH1' | translate }}</div>
							<div class="landing-indexSection4Desc"><a href="http://www.uv.uio.no/didiac">{{ 'MENUPAGE_FOOTER1' | translate }}</div>
							<div class="landing-indexSection4Desc"><a href="mailto:post@talkwall.net">{{ 'MENUPAGE_FOOTEREMAIL' | translate }}</a></div>
						</div>
					</div>

					<div style="padding: 20px" class="landing-indexSection4Logo layout="column" width="200">
						<a href="http://www.nfr.no/"><img src="images/nfr-finnut-en.png" width="200"></a>
						<div layout="column">
							<div class="landing-indexSection4Desc"><a href="http://www.nfr.no/">{{ 'MENUPAGE_FOOTER2' | translate }}</a></div>
						</div>
					</div>

					<div flex > </div>
				</div>
			</div>

			</div>

		</md-content>
	</div>
</div>