<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet"> 
<div layout flex ng-controller="LandingController as landingC">
	<div flex layout id="landing-main">
		<md-content flex md-scroll-y>
			<div ng-style="{'height': windowHeight+'px', 'width': windowWidth+'px', 'background-color': '#00BCD4'}" autoresize="" layout>
				<div class="landing-betalabel" ng-click="showBetaMessage()"><img src="../images/beta_icon.png"></div>
				<div flex class="landing-cloud-background" layout="column">
					<div flex></div>
					<img src="/images/cloud.svg">
					<div class="landing-arrow-footer" layout="column">
						<div layout="column" flex layout-align="start center">
							<div class="landing-arrow">
								<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/></path></svg>
							</div>
						</div>
					</div>
				</div>

				<div flex layout>
					<div class="landing-centered-button-panel" layout="column" flex layout-align="center center">
						<img class="landing-samtavlaLogo" src="../images/logo.svg" ng-show="landingC.languageCode=='no'">
						<img class="landing-samtavlaLogo" src="../images/logo_en.svg" ng-show="landingC.languageCode=='en'">
						<div class="landing-samtavlaLogo" layout="row" layout-align="center center" layout-margin>
							<md-button aria-label="Participate to Talkwall" id="joinButton" flex-grow="true" class="md-primary md-raised landing-joinButton" ng-click="landingC.showJoinDialog($event)" aria-label="Delta i Samtavla">{{ 'MENUPAGE_BUTTON_PARTICIPATE' | translate }}</md-button>
							<md-button aria-label="Create a wall" id="createButton" hide-xs hide-sm flex-grow="true" class="md-primary md-raised landing-createButton" ng-click="landingC.showLoginDialog($event)" aria-label="Opprett en ny samtavla">{{ 'MENUPAGE_BUTTON_CREATE' | translate }}</md-button>
						</div>
					</div>
				</div>
			</div>


			<!-- arrow down -->		

			<div class="landing-under" layout="column" layout-align="space-around center">

				<!-- digitalised dialogues illustration -->		

				<div class="landing-illustration" layout="column" layout-align="start center">
					<div>
						<a href="{{ 'MENUPAGE_DD_HREF' | translate }}"><img alt="Digitalised-dialogue" src="/images/digitalised-dialogue.svg"></a>
					</div>

					<!-- white skies -->	
					<img src="/images/cloudz.svg">
				</div>


				<!-- Digitalised dialoges title and subtitle -->		

				<div class="landing-title"><h1>{{ 'MENUPAGE_HEADING_1' | translate }}</h1></div>
				<div class="landing-subtitle"><h2>{{ 'MENUPAGE_HEADING_2' | translate }}</h2></div>

				<!-- video -->		
				<div>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/v4CuQEZszYI" frameborder="0" allowfullscreen ng-show="landingC.languageCode=='no'"></iframe>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/eXCsA175Ga0" frameborder="0" allowfullscreen ng-show="landingC.languageCode=='en'"></iframe>
					
				</div>
			</div>

			<!-- respond - question - share -->		
			<div class="landing-rqs-row" layout="row" layout-xs="column" layout-align="space-around start" layout-align-xs="center center">

				<div class="landing-rqs" flex="noshrink" >
					<h2>{{ 'MENUPAGE_Q_TITLE' | translate }}</h2>
					<img alt="designanddialogue" src="/images/Question.svg">
					<div>
						<p>{{ 'MENUPAGE_Q_BDY' | translate }}</p>
						<p><a href="{{ 'MENUPAGE_Q_HREF' | translate }}">{{ 'MENUPAGE_Q_REF' | translate }}</a></p>
					</div>
				</div>
				<div class="landing-rqs" flex="noshrink" >
					<h2>{{ 'MENUPAGE_R_TITLE' | translate }}</h2>
					<img alt="designanddialogue" src="/images/Answer.svg">
					<div>
						<p>{{ 'MENUPAGE_R_BDY' | translate }}</p>
						<p><a href="{{ 'MENUPAGE_R_HREF' | translate }}">{{ 'MENUPAGE_R_REF' | translate }}</a></p>
					</div>
				</div>
				<div class="landing-rqs" flex="noshrink" >
					<h2>{{ 'MENUPAGE_S_TITLE' | translate }}</h2>
					<img alt="designanddialogue" src="/images/Sharing.svg">
					<div>
						<p>{{ 'MENUPAGE_S_BDY' | translate }}</p>
						<p><a href="{{ 'MENUPAGE_S_HREF' | translate }}">{{ 'MENUPAGE_S_REF' | translate }}</a></p>
					</div>
				</div>
			</div>
			


			<!-- statements from users-->
			<div class="landing-statements" layout="column" layout-align="center center">
				<div class="landing-statements-line"></div>
				<div><h1>{{ 'MENUPAGE_STATEMENT1' | translate }}</h1></div>
				<div><h1>{{ 'MENUPAGE_STATEMENT2' | translate }}</h1></div>
			</div>

			<!-- footer -->		

		<div class="landing-footer">
			<div layout="row" layout-xs="column" layout-align="space-around start" layout-align-xs="center center">

				<div>
					<a href="{{ 'MENUPAGE_HREFUIO' | translate }}" target="_blank"><img ng-src="{{'MENUPAGE_IMGUIOLOGO' | translate }}" width="200"></a><br/><br/>
					<a href="https://www.educ.cam.ac.uk/" target="_blank"><img src="/images/logo-uoc.png" width="150"></a>
				</div>

				<div flex="33">
					<div class="landing-footer-about"><a href="{{ 'MENUPAGE_HREFDIDIAC' | translate }}"" target="_blank">{{ 'MENUPAGE_FOOTER_ABOUT' | translate }}</a> | 
						<a href="mailto:post@talkwall.net">{{ 'MENUPAGE_FOOTEREMAIL' | translate }}</a>
					</div>
				</div>

				<div>
					<a href="{{ 'MENUPAGE_HREFNFR' | translate }}" target="_blank"><img ng-src="{{ 'MENUPAGE_IMGNFRLOGO' | translate }}" width="200"></a>
				</div>

			</div>

		</div>

	</md-content>
</div>
</div>