@import "../../../scss/colors";

.editMessage-validateButton {
  background-color: $color-orange !important;
  color: $color-white  !important;
}

.editMessage-editContainer {
  margin: 30px !important;
}