<md-dialog aria-label="Archive dialog" ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Active wall detected!</h2>
			<span flex></span>
			<md-button aria-label="Cancel login" class="md-icon-button" ng-click="loginC.cancel()">
				<md-icon md-svg-src="images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<md-dialog-content layout="row" layout-padding="true">
		<p ng-show="!archiveWallC.showInput">You have an active wall already open.
			<br>Choose an option below:</p>
		<div ng-show="archiveWallC.showInput" layout="column">
			<div>Please type in below the email address where the wall report will be sent.</div>
			<md-input-container flex>
				<label>Email</label>
				<input ng-model="archiveWallC.owneremail" type="email">
			</md-input-container>
		</div>
	</md-dialog-content>

	<md-dialog-actions layout="row">
		<span flex></span>
		<md-button ng-show="!archiveWallC.showInput" ng-click="archiveWallC.showInput = true">
			Create new
		</md-button>
		<md-button ng-show="!archiveWallC.showInput" ng-click="archiveWallC.answer('continue')">
			Continue with existing
		</md-button>
		<md-button ng-show="archiveWallC.showInput" ng-disabled="archiveWallC.owneremail === undefined" ng-click="archiveWallC.answer(archiveWallC.owneremail)">
			OK
		</md-button>
	</md-dialog-actions>
</md-dialog>