$color-blue        : #00BCD4;
$color-lightblue   : #D8EDF3;
$color-grey        : #c0c0c0;
$color-darkgrey    : #333333;
$color-white       : #FFFFFF;
$color-orange      : #FF7700;
$color-black       : #000000;