$color-blue        : #0096a9;
$color-lightblue   : #D8EDF3;
$color-grey        : #c0c0c0;
$color-darkgrey    : #333333;
$color-white       : #FFFFFF;
$color-orange      : #FF7700;
$color-black       : #000000;

$color-bg0: #e0eaf4;
$color-bg1: #26c6da; 
$color-bg2: #40bf80; 
$color-bg3: #66c0ca;
$color-bg4: #53c68c;
$color-bg5: #759add;
$color-bg6: #66cc99;
$color-bg7: #26c6da;
$color-bg8: #79d2a6;
$color-bg9: #6fa6d0;
