$color-blue        : #0096a9;
$color-lightblue   : #D8EDF3;
$color-grey        : #c0c0c0;
$color-darkgrey    : #333333;
$color-white       : #FFFFFF;
$color-orange      : #FF7700;
$color-black       : #000000;

$color-bg0: #cccccc;
$color-bg1: #4dd0e1; 
$color-bg2: #fff59d; 
$color-bg3: #b2ebf2;
$color-bg4: #fff59d;
$color-bg5: #26c6da;
$color-bg6: #e5da7c;
$color-bg7: #66c0ca;
$color-bg8: #ffe0b2;
$color-bg9: #81d4fa;

