/*------------------------------------------------------*\
  Samtavla
  ===========
  author  Jeremy Toussaint,
          Richard Nesnass,
          Engagelab
\*------------------------------------------------------*/

@import url(//fonts.googleapis.com/css?family=RobotoDraft&lang=en);

@import "colors",
        "../js/components/editMessagePanel/editMessagePanel",
        "../js/components/export/export",
        "../js/components/landing/landing",
        "../js/components/archive/archive",
        "../js/components/login/login",
        "../js/components/join/join",
        "../js/components/close/close",
        "../js/components/feedMessage/feedMessage",
        "../js/components/taskQuestion/taskQuestion",
        "../js/components/organiserItem/organiserItem",
        "../js/components/sessioninfo/sessioninfo",
        "../js/components/wall/wall",
        "../js/components/organiser/organiser",
        "../js/components/logs/logs";


html, body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
}

body {
  margin:0;
  padding:0;
  font-family:'RobotoDraft', Arial, sans-serif;
}

a, img {
  border :none !important;
  outline: none !important;
}

.hr {
  border: 0;
  border-bottom: 1px solid $color-grey;
}

md-dialog {
  min-width: 320px !important;
  background-color: $color-white;
}

md-content {
  background-color: transparent;
}

md-toolbar {
  background-color: $color-blue !important;
}

md-backdrop.md-sidenav-backdrop {
  display:none !important;
  background-color: $color-white;
}

md-bottom-sheet {
  z-index: 1001 !important;
}

.md-bottom-sheet-backdrop {
  z-index: 1000 !important;
}

div:focus,
p:focus,
md-toolbar:focus,
button:focus {
  outline:0 !important;
}

.md-on {
  background-color: $color-orange !important;
}

md-radio-button.md-default-theme.md-checked .md-off,
md-radio-button.md-checked .md-off {
  border-color: $color-orange !important;
}

md-content.md-default-theme {
  background-color: transparent;
}

md-content.md-default-theme.md-hue-1 {
  background-color: transparent;
}

md-content.md-default-theme.md-hue-2 {
  background-color: transparent;
}

md-content.md-default-theme.md-hue-3 {
  background-color: transparent;
}

.md-button.md-default-theme.md-fab, .md-button.md-fab {
  background-color: $color-orange;
}

.md-button:not([disabled]).md-fab.md-focused, .md-button:not([disabled]).md-raised.md-focused, .md-button:not([disabled]).md-fab:hover {
  background-color: #AA6600;
}

.borderradius-top {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.borderradius-bottom {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

@media only screen and (max-width : 800px) {
  .landing-video {
    iframe {
      width: 356px;
      height: 200px;
    }
  }
}