<div layout flex ng-controller="ExportController as exportC">
	<div flex layout="column">
		<md-toolbar class="export-topToolbar">
			<div flex layout="row" layout-align="space-between center" layout-padding layout->
				<div>{{ exportC.wall.label }}</div>
				<div>{{ exportC.getFormattedDate(exportC.wall.createdAt) }}</div>
			</div>
		</md-toolbar>
		<md-content flex md-scroll-y>
			<div layout="column">
				<div ng-repeat="question in exportC.wall.questions" layout-padding="true">
					<h1>{{ 'Question: ' + question.label }} | {{ exportC.getFormattedDate(question.createdAt) }}</h1>
					<div class="export-messageArea" layout="column" ng-show="question.messages.length > 0">
						<div ng-repeat="participant in question.contributors">
							<h2>{{ participant }}</h2>
							<div ng-repeat="message in exportC.getBoardMessagesForParticipant(participant, question._id)" layout="column" ng-class="{'export-messageOnBoardSelected': message.board[participant].pinned, 'export-feedMessage': !message.board[participant].pinned }">
								<div>{{ message.text }}</div>
								<div layout="row" layout-align="end center">
									<span class="export-nicknameChip" ng-repeat="origin in message.origin">{{ origin.nickname }}</span>
								</div>
							</div>
						</div>
						<h2>[feed]</h2>
						<div ng-repeat="message in question.messages" layout="column" class="export-feedMessage">
							<div>{{ message.text }}</div>
							<div layout="row" layout-align="end center">
								<span class="export-nicknameChip" ng-repeat="origin in message.origin">{{ origin.nickname }}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</md-content>
	</div>
</div>
